<flynt-component load:on="idle" load:on:media="(max-width: 1023px)" name="NavigationBurger">
  <nav aria-label="{{ labels.ariaLabel|e }}">
    <div class="container">
      {% include 'Partials/_logo.twig' with {'logo': logo, 'site': site} only %}
      {% if menu %}
        {% include 'Partials/_hamburger.twig' with {'labels': labels} only %}
      {% endif %}
    </div>
    {% if menu %}
      {% include 'Partials/_menu.twig' with {'items': menu.items} only %}
    {% endif %}
    {% if actionButtons %}
      <div class="mobileActionButtons">
        {% for button in actionButtons %}
          {% if button.style == 'text' %}
            <a class="mobileActionButtons__link" href="{{ button.url|e('esc_url') }}">
              {{ button.text|e }}
            </a>
          {% elseif button.style == 'outline' %}
            <a class="btn btn--ghost btn--primary" href="{{ button.url|e('esc_url') }}">
              {{ button.text|e }}
            </a>
          {% elseif button.style == 'primary' %}
            <a class="btn btn--primary" href="{{ button.url|e('esc_url') }}">
              {{ button.text|e }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </nav>
</flynt-component>
